/* === CARD LAYOUT === */
.card-container {
    width: 95%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}

.inv-card {
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
    border: 1px solid #e7dede;
    transition: 0.2s;
}

.inv-card:hover {
    background: #faece8;
    transform: translateY(-3px);
}

/* isi card */
.card-row {
    margin-bottom: 6px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.card-row span {
    font-weight: 600;
}

/* ACTION BUTTONS */
.card-actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* BUTTON */

.edit {
    background: #7db4ff;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 13px;
}

.delete {
    background: #ff6b6b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    margin-top: 5px;
}

.add, .back {
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
}

.add {
    background: #8ed88c;
    color: white;
}

.back {
    background: #ff6b6b;
    color: white;
}


/* popup */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.modal-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.yes {
    background: red;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.no {
    background: gray;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
