/* TABEL */

.inv-table {
    width: 95%;
    margin: 30px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    font-size: 15px;
}

.inv-table thead {
    background: #f3d6d1; /* soft pink latte */
}

.inv-table th {
    padding: 12px;
    font-weight: 700;
    border: 1px solid #d0c4c4;
    text-align: center;
}

.inv-table td {
    padding: 10px;
    border: 1px solid #e1d5d5;
    text-align: center;
}

.inv-table tbody tr:nth-child(even) {
    background: #fdf7f6;
}

.inv-table tbody tr:hover {
    background: #faece8;
    transition: 0.2s;
}

/* BUTTON */

.edit {
    background: #7db4ff;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 13px;
}

.delete {
    background: #ff6b6b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    margin-top: 5px;
}

.add {
    padding: 10px 18px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
    border: 2px solid #000; 
    cursor: pointer;
    display: inline-block;
    background: #db8675;
    color: white;
}




/* popup */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.modal-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.yes {
    background: red;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.no {
    background: gray;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
