/* ===== CARD GRID ===== */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); /* 320px */
    gap: 1.875rem; /* 30px */
    margin-top: 1.5625rem; /* 25px */
}

/* ===== CARD ===== */
.inv-card {
    background: #E3A7B6;
    border: 0.125rem solid #4a3d42; /* 2px */
    border-radius: 1.5625rem; /* 25px */
    padding: 1.5625rem; /* 25px */
    box-shadow: 0 0.25rem 0.625rem rgba(255, 185, 216, 0.25);
    color: #4a3d42;
    font-size: 0.9375rem; /* 15px */
}

.card-header {
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 0.125rem solid #1e1e1e;
}
/* ===== ROW ===== */
.card-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fdecef;
    padding: 0.35rem 0.6rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}

/* Label */
.card-row span {
    font-weight: 700;
    color: #3a2a2a;
}

.card-row p {
    margin: 0;
    font-weight: 400;
    color: #1e1e1e;
}

/* ===== ACTIONS ===== */
.card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1.125rem; /* 18px */
    gap: 0.625rem;
}

.card-actions a.edit,
.card-actions button.delete {
    padding: 0.5rem 1rem; /* 8px 16px */
    border-radius: 0.875rem; /* 14px */
    font-size: 0.875rem; /* 14px */
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.25s;
}

/* Edit */
.card-actions a.edit {
    background: #D16C86;
    border: 0.0625rem solid #000;
    color: #ffffff;
    text-decoration: none;
}

/* Delete */
.card-actions button.delete {
    background: #844354;
    border: 0.0625rem solid #000;
    color: #ffffff;
}

.card-actions button.delete:hover {
    background: #ff5275;
}

/* ===== ADD BUTTON ===== */
.add {
    padding: 0.625rem 1.125rem; /* 10px 18px */
    border-radius: 1.25rem; /* 20px */
    text-decoration: none;
    font-weight: 600;
    margin-left: 1.25rem;
    border: 0.125rem solid #000;
    cursor: pointer;
    display: inline-block;
    background: #d9778b;
    color: #ffffff;
    font-size: 0.9rem;
}

/* ===== POPUP ===== */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.modal-content {
    background: #ffffff;
    padding: 1.25rem; /* 20px */
    border-radius: 0.5rem; /* 8px */
    width: 18.75rem; /* 300px */
    max-width: 100%;
    text-align: center;
}

.modal-buttons {
    margin-top: 0.9375rem; /* 15px */
    display: flex;
    justify-content: space-around;
    gap: 0.625rem;
    flex-wrap: wrap;
}

.yes,
.no {
    padding: 0.5rem 0.9375rem; /* 8px 15px */
    border-radius: 0.3125rem; /* 5px */
    border: none;
    cursor: pointer;
    font-size: 0.875rem;
}

.yes {
    background: red;
    color: #4a3d42;
}

.no {
    background: gray;
    color: #4a3d42;
}
