/* ===== CARD GRID ===== */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
    margin-top: 25px;
}

/* ===== CARD ===== */
.inv-card {
    background: #f3d6d1;
    border: 2px solid #ffbcd9;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(255, 185, 216, 0.25);
    color: #4a3d42;
    font-size: 15px;
}

/* ===== ROW ===== */
.card-row {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px dotted #ffbcd9;
}

/* Label */
.card-row span {
    font-weight: bold;
    color: #4a3d42;
}

/* ===== ACTIONS (Edit + Delete) ===== */
.card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.card-actions a.edit,
.card-actions button.delete {
    padding: 8px 16px;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.25s;
}

/* Edit */
.card-actions a.edit {
    background: #ff9fca;
    border: 2px solid #ec9485;
    color: #4a3d42;
    text-decoration: none;
}
.card-actions a.edit:hover {
    background: #ff85be;
}

/* Delete */
.card-actions button.delete {
    background: #ff6b8a;
    border: 2px solid #ec9485;
    color: #4a3d42;
}
.card-actions button.delete:hover {
    background: #ff5275;
}


.add {
    padding: 10px 18px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
    border: 2px solid #000; 
    cursor: pointer;
    display: inline-block;
    background: #db8675;
    color: #4a3d42;
}


/* popup */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.modal-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.yes {
    background: red;
    color: #4a3d42;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.no {
    background: gray;
    color: #4a3d42;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


/* Responsive */
@media (max-width: 500px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}