/* ------------------------ */
/* NAVBAR */
/* ------------------------ */
.lamierre-navbar {
    background: #ddb1a8;
    padding: 25px 40px;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.brand {
    font-size: 35px;
    font-weight: 700;
    font-family: "Georgia", serif;
}

.brand span {
    display: block;
    font-size: 20px;
    margin-top: -8px;
}

.nav-tabs {
    display: flex;
    gap: 20px;
}

.nav-tabs .tab {
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 20px;
    color: #4a3b47;
    font-weight: 500;
    transition: 0.3s;
}

.nav-tabs .tab:hover,
.nav-tabs .tab.active {
    background-color: #e11b81;
    color: #ffffff;
}


.title {
    font-size: 35px;
    font-weight: 700;
    font-family: "Georgia", serif;
}


/* popup logout */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 260px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.popup-buttons button {
    margin: 8px;
    padding: 6px 15px;
    cursor: pointer;
}
